{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Drawing {{ id }} {% endblock %}</h1>
    <div class="images">


    <div class="upload-container">
    <img src="/data/uploaded/{{id}}/input.svg" alt="Orignal SVG" class="preview">
    <img src="/data/uploaded/{{id}}/processed.svg" alt="Processed SVG" class="preview">
    </div>
    <div class="preview-container">
        <img src="/data/uploaded/{{id}}/check.svg" alt="Regenerated SVG" class="main-image">
    </div>
    </div>
{% endblock %}
